@charset "UTF-8";
/*
Theme Name: Marcotema
Theme URI: https://wordpress.org/themes/twentynineteen/
Author: MARCO Cavallaro
Author URI: https://wordpress.org/
Description: Tema WordPress MarcoTema
Requires at least: 4.9.6
Requires PHP: 5.2.4
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentynineteen
*/

:root{
    --main-color: rgb(253, 101, 0);
    --background-body: rgb(255, 208, 119);
    --text-color: rgb(0, 0, 0);
    --text-color-active: rgb(117, 81, 40);
    --text-color-hover: rgb(247, 161, 82);
    --background-color-hover: black;
    --text-light-color: rgb(247, 161, 82);

}

body{
    background: var(--background-body);
}

.navbar{
    background-color:var(--main-color);
}

.navbar-light .navbar-nav .nav-link{
    color:var(--text-color)
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:var(--text-color-active)
}

.dropdown-menu{
    background-color: var(--main-color);
}
.dropdown-menu a:hover{
    background-color: var(--main-color);
}

.jumbotron{
    color: var(--text-light-color);
    height: 400px;
}

.jumbo-front{
    background-image: url(inc/img/jumbo-front.png);
    background-repeat: no-repeat;
}


.jumbo-tienda{
    background-image: url(inc/img/jumbo-botiga.png);
    background-repeat: no-repeat;
}

.jumbo-jeans{
    background-image: url(inc/img/jumbo-jeans.png);
    background-repeat: no-repeat;
}

.jumbo-camisetas{
    background-image: url(inc/img/jumbo-samarreta.png);
    background-repeat: no-repeat;
}

.container img{
    width: 100%;
}

footer{
    background-color: rgb(255, 166, 0);
}


